<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Проверка расписания | Schedule Validator</title>
    <link rel="icon" type="image/png" href="/static/assets/aitu-logo_.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/check.css') }}">
</head>

<body>
    <div class="container">
        <h1>Проверка расписания</h1>
        <form class="upload-form" method="post" enctype="multipart/form-data" id="checkForm">
            <label>Файл расписания (JSON):</label>
            <input type="file" name="timetable" accept=".json" required>
            <label>Файл требований GA_Input (XLSX):</label>
            <input type="file" name="ga_input" accept=".xlsx">
            <button class="btn" type="submit">Проверить</button>
        </form>
        <div id="results-area">
            {% if checked %}
            {% if conflict_table %}
            <center>
                <h2>Конфликты</h2>
            </center>
            {{ conflict_table | safe }}
            {% else %}
            <div class="fancy-success">
                <span class="msg">Конфликты в расписании <b>не обнаружены</b>.
                </span>
            </div>
            {% endif %}
            {% if violation_table %}
            <h2>Нарушения по GA_Input</h2>
            {{ violation_table | safe }}
            {% else %}
            <div class="fancy-success">
                <span class="msg">Все требования GA_Input соблюдены.</span>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/check.js') }}"></script>
</body>

</html>